* {
    font-family: 'Ubuntu', sans-serif;
}

.back-gradient-home {
    background: rgb(41, 161, 156);
    background: linear-gradient(180deg, rgba(41, 161, 156, 1) 0%, rgba(163, 247, 191, 1) 79%);
}

.logo {
    width: 9rem;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.form-inline .filter .car {
    border-color: #1eb2a6 !important;
}

.filter:hover {
    border-color: #1eb2a6 !important;
    background-color: #1eb2a6;

}

.filter {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.search-filter {
    height: 38px;
    font-size: 15px;
}

.search-filter a {
    margin-top: -5px;
}

.filter-list {
    float: left;
}

.btn-car {
    border-color: #ffa34d !important;
    background-color: white;
    color: #ffa34d;
}

.btn-car:hover {
    border-color: #1eb2a6 !important;
    background-color: #1eb2a6;
    color: white;
}

.app-check {
    font-size: 25px;
    color: #ffa34d;
    vertical-align: middle;
}

.ajust-r {
    padding-right: 0px !important;
}

.ajust-l {
    padding-left: 0px !important;
}

.form-control-button {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.rounded {
    padding: 20px 40px 20px 40px !important;
    min-height: 20rem;
}

.box {
    text-align: center;
}

.title-box {
    color: #f67575;
    line-height: 1.1;
}

.description-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.about {
    color: #ffa34d;
    margin-left: 1.5rem;
}

.text-about {
    text-align: justify;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.background2 {
    background: rgb(176, 248, 200);
    background: linear-gradient(0deg, rgba(176, 248, 200, 1) 5%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 100%);
}

.download {
    padding: 20px 40px 20px 40px !important;
    min-height: 20rem;
}

.title-download {
    color: #f67575;
    line-height: 1.1;
    margin-top: 1.5rem;
}

.text-download {
    text-align: justify;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.background3 {
    background-image: url(../images/background/background3.png);
}

.mail-icon {
    width: 100%;
}

.contact-box {
    margin-left: 1.5rem;
    margin-top: 5rem;
}

.title-contact {
    color: #ffa34d;
    line-height: 1.1;
    margin-top: 1.5rem;
    text-align: center;
}

.form-custom {
    margin-top: 2rem;
    padding: 2rem;
}

.filter-search-box {
    float: right;
    background: red;
}

.rating {
	direction: rtl;
	unicode-bidi: bidi-override;
	color: #ddd;
}
.rating input {
	display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
  color: #ffc107;
}

.workshoptypecont {
  background: #FFB13A;
  color: white;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  margin-right: 5px;
  padding: 3px 10px 3px 10px;
}

.crownlist{
  width: 50px;
  height: 180px;
  margin-top: -20px;
  margin-bottom: -30px;
}

.iconcrownlist{
  width: 30px !important;
  height: 30px !important;
}

.heartlist{
  width: 30px !important;
  height: 30px !important;
  float: right;
}

.listbut{
  color: white;
  background: #14B2F7;
  font-size: 12px;
  margin-left: -15px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 1px solid transparent;
  z-index: 100;
  transition: 0.5s;
}

.listbut:hover{
  border: 1px solid darkblue;
}

.crowncont{
  height: 65%;
}

.heartcont{
  height: 20%;
}

.contactcont{
  height: 15%;
}

/*----------------*/

/* HOME IN css */

/*----------------*/


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.reminder-badge {
    vertical-align: text-top;
}

.navbar-reminder {
    font-size: 9px;
}

.filter:hover {
    border-color: #1eb2a6 !important;
    background-color: #1eb2a6;

}

.filter {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.btn-car {
    border-color: #ffa34d !important;
    background-color: white;
    color: #ffa34d;
    margin-left: -15px;
}

.btn-car:hover {
    border-color: #1eb2a6 !important;
    background-color: #1eb2a6;
    color: white;
}

.ajust-r {
    padding-right: 0px !important;
}

.ajust-l {
    padding-left: 0px !important;
}


.rounded {
    padding: 20px 40px 20px 40px !important;
    min-height: 20rem;
}

.box {
    text-align: center;
}

.title-box {
    color: #f67575;
    line-height: 1.1;
}

.description-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.background-homein {
    background-image: url(../../assets/images/background/background2.png);
    background: rgb(163, 247, 191);
    background: linear-gradient(180deg, rgba(163, 247, 191, 1) 0%, rgba(255, 255, 255, 1) 75%);
}

.contact-box {
    margin-left: 1.5rem;
    margin-top: 5rem;
}

.title-contact {
    color: #ffa34d;
    line-height: 1.1;
    margin-top: 1.5rem;
    text-align: center;
}

.form-custom {
    margin-top: 2rem;
    padding: 2rem;
}

p.card-text {
    color: darkgray;
}

h5.card-title {
    color: darkgray;
    font-weight: bold;
}

img.card-img-top {
    max-width: 10rem;
}

.markertype {
  color: white;
  background:#989898;
  border-radius: 99px 99px 99px 99px;
  border: 0px solid #000000;
  padding: 2px 5px 2px 5px;
}


/*-------------*/

/*---LOGIN CSS-----*/

/*------------*/


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.login-box {
    text-align: center;
}

.login-image {
    width: 150px;
}

button.btn-dark a {
    color: #ffa34d;
}


/*---------------*/

/* PROFILE USER CSS */

/*---------------*/


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.circle {
    width: 100px;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.registerOptions {
    padding: 15px;
    margin: 1rem;
}

.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
}


.register .register-form {
    padding: 10%;
    margin-top: 40rem;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    color: #495057;
}

button.btn-dark a {
    color: #ffa34d;
}

p.card-text {
    color: darkgray;
}

h5.card-title {
    color: darkgray;
    font-weight: bold;
}

img.card-img-top {
    max-width: 10rem;
}

.carousel-control-next {
    color: black !important;
}


/*----------------*/

/*REGISTER USER CSS*/

/*----------------*/


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

button.btn-dark a {
    color: #ffa34d;
}

textarea .form-control {
    resize: none;
}

.btn-file {
    background-color: white;
    color: #ffa34d;
}


/*----------------*/

/*REGISTER WORKSHOP CSS*/

/*----------------*/


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.login-box {
    text-align: center;
}

.login-image {
    width: 150px;
}

button.btn-dark a {
    color: #ffa34d;
}

textarea .form-control {
    resize: none;
}

.btn-file {
    background-color: white;
    color: #ffa34d;
}

.workshop-cover {
    object-fit: cover;
}

.rating-star.workshop-stars {
    color: #ECDF44;
    font-size: 1em;
}


/*----------------*/

/*REGISTER CSS*/

/*----------------*/


.background-register {
    background: rgb(67, 80, 85);
    background: linear-gradient(180deg, rgba(67, 80, 85, 1) 7%, rgba(41, 161, 156, 1) 52%, rgba(163, 247, 191, 1) 95%);
}


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.registerOptions {
    padding: 15px;
    margin: 1rem;
}

.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
}

.login-button {
    border: none;
    border-radius: 1.5rem;
    padding: 5%;
    width: 90%;
    background: #435055;
    font-weight: bold;
    color: #ffa34d;
    margin-top: 20%;
    margin-bottom: 5%;
    cursor: pointer;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 50%;
}

.register-left p {
    color: #435055;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 40rem;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    color: #495057;
}

button.btn-dark a {
    color: #ffa34d;
}

.mapa {
    width: 100%;
    height: 30rem;
    margin-top: 15px;
    padding: 0px;
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.address {
    border: none;
}
#address{
    border: none;
}
.navbar-nav {
    cursor: pointer;
}

li.nav-item.dropdown {
    cursor: pointer;
}

.bg-info.opacity {
    border-radius: 10px;
    opacity: 0.5;
    background-color: #17a2b8aa !important;
}

.workshop-card-pointer {
    cursor: pointer;
    transition: 0.3s;
}

.workshop-card-pointer:hover {
    cursor: pointer;
    border-color: #ffa34d !important;
}


.document-img {
    width: 7rem;
    cursor: pointer;
}

.document-img:hover {
    border: 1px solid #ffffff;
    padding: 2px;
}

.document-function-buttons {
    width: 100%;
    cursor: pointer;

}

.search-workshop-image {
    width: 75%;
}

.bg-light.opacity {
    border-radius: 10px;
    opacity: 0.5;
    margin: 0.5rem;
}

.searcher-map {
    width: 100%;
    height: 25rem;
}

.reminder-padding {
    padding: 1rem;
}

.carousel-caption {
    position: absolute;
    right: 2%;
    bottom: 10px;
    left: 2%;
    z-index: 10;
    padding-top: 5px;
    oadding-bottom: 0px;
    color: #fff;
    text-align: center;
}

/*css de mapa en pagina search.inline.php*/
 .mapa2 {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    padding: 0px;
    margin: 0px;
    /* background-color: red; */
}
  #map2 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: red; */
}
 .mapa4 {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    padding: 0px;
    margin: 0px;
    /* background-color: red; */
}
  #map4 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: red; */
}
  #map3 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: red; */
}

.search-image {
    vertical-align: center;
}

.vehicle-profile-image {
    max-width: 80rem;
    width: 100%;
}
.Mapa4{
    height:400px;
}
.Mapatipo{
    height:400px;
    background-color: #ECDF44;
}
#maptype{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.Mapainline {
    height:400px;

    /* background-color: red; */
}
#mapinline{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.Mapasearchinline {
    height:400px;

    /* background-color: red; */
}
#mapsearchinline{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.Mapa3 {
    height:400px;

    /* background-color: red; */
}
#map3{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.Mapatipo{
	height:400px;
}
#maptypefilterin{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.thumbnail img {
    width: 250px;
    max-width: 100%;
    height: 180px;
    object-fit: cover;
}
.botonfavoritos{
    background-color: transparent;
    border: none;
}

.premium-sign {
    color: #ffa34d;
    font-size: 3rem;
    @include float-right;
}

.premium-price {
    font-size: larger;
}

.heart-color {
    color: #f67575;
}

.pass-remind {
    font-size: small;
}

.pass-remind:hover {
    text-decoration: none!important;
}

.opacity-image {
    opacity: 0.8 !important;
}

.align-middle {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.a-premium-way:hover {
}

/*SECCION COMENTARIOS*/
.card-white  .card-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border: 1px solid #dddddd;
}
.card-white  .card-footer {
    background-color: #fff;
    border-color: #ddd;
}
.card-white .h5 {
    font-size:14px;
//font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.card-white .time {
    font-size:12px;
//font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .title a {
    color: black;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}
.post .post-description p {
    font-size: 14px;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.post .post-footer .input-group-addon a {
    color: #454545;
}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}



/*Separar elementos en el menu --------> POR HACER*/
/*Colores de la web:
- 1eb2a6
- d4f8e8
- ffa34d
- f67575
*/
