* {
    font-family: 'Ubuntu', sans-serif;
}

.back-gradient {
    background: rgb(41,161,156);
    background: linear-gradient(180deg, rgba(41,161,156,1) 0%, rgba(163,247,191,1) 79%);
}

.logo {
    width: 9rem;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.form-inline .filter .car {
    border-color: #1eb2a6 !important;
}

.filter:hover {
    border-color: #1eb2a6 !important;
    background-color: #1eb2a6;

}

.filter {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.btn-car {
    border-color: #ffa34d !important;
    background-color: white;
    color: #ffa34d;
}

.btn-car:hover {
    border-color: #1eb2a6 !important;
    background-color: #1eb2a6;
    color: white;
}

.ajust-r {
    padding-right: 0px !important;
}

.ajust-l {
    padding-left: 0px !important;
}

.form-control {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}



.rounded {
    padding: 20px 40px 20px 40px !important;
    min-height: 20rem;
}

.box {
    text-align: center;
}

.title-box {
    color: #f67575;
    line-height: 1.1;
}

.description-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.background-in {;
  background: rgb(176,248,200);
background: linear-gradient(0deg, rgba(176,248,200,1) 5%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
}

.contact-box {
    margin-left: 1.5rem;
    margin-top: 5rem;
}

.title-contact {
    color: #ffa34d;
    line-height: 1.1;
    margin-top: 1.5rem;
    text-align: center;
}

.form-custom {
    margin-top: 2rem;
    padding: 2rem;
}


p.card-text {
    color:darkgray;
}

h5.card-title {
    color:darkgray;
    font-weight: bold;
}

img.card-img-top {
    max-width: 10rem;
}
