* {
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    width: 9rem;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.circle {
    width: 100px;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.registerOptions {
    padding: 15px;
    margin: 1rem;
}

.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
}


.register .register-form {
    padding: 10%;
    margin-top: 40rem;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    color: #495057;
}

button.btn-dark a{
    color: #ffa34d;
}

p.card-text {
    color:darkgray;
}

h5.card-title {
    color:darkgray;
    font-weight: bold;
}

img.card-img-top {
    max-width: 10rem;
}

.carousel-control-next {
    color: black !important;
}