* {
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    width: 9rem;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

button.btn-dark a {
    color: #ffa34d;
}

textarea .form-control {
    resize: none;
}

.btn-file {
    background-color: white;
    color: #ffa34d;
}