* {
    font-family: 'Ubuntu', sans-serif;
}

.background {
    background: rgb(67, 80, 85);
    background: linear-gradient(180deg, rgba(67, 80, 85, 1) 7%, rgba(41, 161, 156, 1) 52%, rgba(163, 247, 191, 1) 95%);
}

.logo {
    width: 9rem;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

/*Cambiar color de los elementos activos*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffa34d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.registerOptions {
    padding: 15px;
    margin: 1rem;
}

.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
}

.login-button {
    border: none;
    border-radius: 1.5rem;
    padding: 5%;
    width: 90%;
    background: #435055;
    font-weight: bold;
    color: #ffa34d;
    margin-top: 20%;
    margin-bottom: 5%;
    cursor: pointer;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 50%;
}

.register-left p {
    color: #435055;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 40rem;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    color: #495057;
}

button.btn-dark a{
    color: #ffa34d;
}

