* {
    font-family: 'Ubuntu', sans-serif;
}
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
    outline: none;
    transition: all 0.3s;
}

.btn-2 :hover {
    background: lightgray !important;
}